.form-input {
  @apply w-full rounded-md shadow-sm 
  min-w-[200px]
  px-3 h-9
  sm:text-sm
  border border-gray-200
  focus:outline-none
  focus:ring-1 
  focus:ring-offset-1
  focus:border-blue-400 
  focus:ring-offset-blue-500/[.20]
  focus:ring-blue-400/[.20]
  dark:focus:border-blue-300 
  dark:focus:ring-offset-blue-400/[.20]
  dark:focus:ring-blue-300/[.20]
  placeholder-gray-500
  bg-white text-gray-900
  ;
}
